services:
  db:
    image: postgis/postgis:15-3.4
    environment:
      POSTGRES_DB: fuelplanner
      POSTGRES_USER: fuelplanner
      POSTGRES_PASSWORD: fuelplanner
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  app:
    build: .
    restart: unless-stopped
    ports:
      - "8000:8000"
    depends_on:
      - db
    env_file:
      - .env
    volumes:
    - .:/opt/project
 

volumes:
  pgdata:
